@charset "UTF-8";

/*header*/
.header h1{
    font-size: 30px;
    font-weight: bold;
    transform: skewX(-20deg);
    width: 200px;
    position: relative;
    left: 50px;
    margin: 0;
}
.header p{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 35px;
    left: 85px;
}

.nav_list a{
    text-decoration: none;
    color: black;
}

.nav_list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 800px;
    margin-top: -30px;
}
.nav_list li{
    margin-left: 10px;
}

.product_list{
    list-style: none;
    display: flex;
    background-color: #2a2929;
    height: 25px;
    padding-left: 70px;
}
.product_list li{
    margin-left: 25px;
    color: white;
    font-size: 10px;
    padding-top: 6px; 
}


#app{
    padding-left: px;
    padding-top: 30px;
}
#app p{
    margin: 0;
    padding-left: 200px;
}
input.form{
    width: 250px;
    height: 25px;
    padding-top: 5px;
    margin-left: 200px;
}

/*img{
    width: 200px;
    height: 200px;
    padding-top: 10px;
    margin: 15px;
    position: relative;
    left: 60px;
}   
*/ 

/*商品一覧*/
.fushion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.fushion ul{
    width: 30%;
    height: 300px;
}
.fushion_list{
    width: 60%;
    list-style: none;
    
} 

